
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">

    <div class="row">

        <div class="col md-12">



            <h2>Student List <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModal">Add Student Data</button></h2>




    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}




            <table class="table table-striped">


                <tr>
              <th>Serial</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>


          </tr>





                {% for row in students %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>


               <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>

                    </td>

                </tr>

                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('update') }}" method="POST">


               <div class="form-group">


                  <label>Name:</label>
                   <input type="hidden"  name="id" value="{{row.0}}">

                  <input type="text" class="form-control" name="name" value="{{row.1}}">


               </div>



               <div class="form-group">


                  <label>Email:</label>

                  <input type="text" class="form-control" name="email" value="{{row.2}}">


               </div>


               <div class="form-group">


                  <label>Phone:</label>

                  <input type="text" class="form-control" name="phone" value="{{row.3}}">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="sbumit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>


                {% endfor  %}


                </tbody>


            </table>


        </div>


<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Please Insert Data</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('insert') }}" method="POST">


               <div class="form-group">


                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">


               </div>


                <div class="form-group">


                  <label>Email:</label>
                  <input type="text" class="form-control" name="email" required="1">


               </div>


                <div class="form-group">


                  <label>Phone:</label>
                  <input type="text" class="form-control" name="phone" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Insert Data</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>




  {% include "footer.html" %}
    </div>


</div>


{% endblock %}


<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
